
h4 {
 text-align: center;
}
.container {
  background-color: #fbb117;
  height: 100%;
  width: auto;
}
.jumbotron{
  margin-top: 15px;
  color: white;
  text-align: center;
}
.panel-title {
  text-align: center;
  color: #347c17;
}
.panel-body {
  background-color: #f0f8ff;
  font-size: 15px;
  text-transform: uppercase;

}
